<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Broadcasting</title>

</head>
<body>

<br>
<div ng-app="myApp">
    <div ng-controller="DemoCtrl">
        <form>
            <div class=container>

                <div class=row>
                    <div class=col-md-6>

                        Name: <input id=name ng-model=myForm.name ng-minlength=5 ng-maxlength=12 class=form-control>

                        Email: <input id=email ng-model=myForm.email ng-minlength=5 ng-maxlength=12 class=form-control>

                        Phone: <input id=phone ng-model=myForm.phone ng-minlength=5 ng-maxlength=12 class=form-control>

                        password: <input id=password ng-model=myForm.pass ng-minlength=5 ng-maxlength=12
                                         class=form-control>

                        Address: <input id=address ng-model=myForm.add ng-minlength=5 ng-maxlength=12
                                        class=form-control>

                        City: <input id=city ng-model=myForm.city ng-minlength=5 ng-maxlength=12 class=form-control>

                        <button ng-click="myForm.submitTheForm()">Submit Form</button>
                    </div>
                </div>
            </div>

        </form>
        <p style="text-align: center;"><i>Change the value in the textbox and refresh the page!</i></p>

    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="controller.js"></script>
<script src="angular-local-storage.js"></script>


</body>

</html>
































